@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700;900&display=swap');

@import "./reset.css";

/* components */
@import "./header.css";
@import "./footer.css";

@import "./main.css";

* {
    box-sizing: border-box;
}
body {
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Noto Sans KR', sans-serif;
}
a {
    color: initial;
    text-decoration: none;
}